/*body {
	background: blue;
}*/

body h1 {
	border: 3px dotted blue;
	padding: 5px;
	text-align: center;
	font-family: Impact;
}

#intro {
	margin: 30px;
	font-family: Arial, sans-serif;
}

.font {
	color: red;
	font-weight: bold;
}

table th {
	text-decoration: underline;
}

table {
    background-image: url("hop-clipart-aceR947ri.png");
    background-repeat: repeat;
}

/* visited link */
a:visited {
    color: orange;
}

.italics {
	text-decoration: line-through;
}

@media screen and (max-width: 500px) {
  body {
    background-color: red;
  }
}